.main_table {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center; 
    padding: 20px;
}

.all_scientist {
    background: rgb(214, 152, 37);
    width: 100%;
    max-width: 200px;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden; 
    transition: transform 0.2s;
}

.all_scientist:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

.scy-img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
}

.prem {
    background: rgb(255, 213, 0);
    padding: 10px;
    margin: 0;
    text-align: center;
}

.glyphs--crown-bold::after {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cg fill='%23000'%3E%3Cpath fill-rule='evenodd' d='m33.612 40.637l4.631-16.36a6.5 6.5 0 0 0 1.703.223h.103a6.5 6.5 0 0 0 1.708-.224l4.632 16.361L54.67 27.47q.25.154.517.286l.002.001l.082.041l.002.001a6.47 6.47 0 0 0 3.528.66l-.154 15.778l5.012-4.43a6.5 6.5 0 0 0 3.505 2.526L62.562 56.5H17.439l-4.604-14.169a6.5 6.5 0 0 0 3.502-2.526l5.015 4.432L21.2 28.46a6.47 6.47 0 0 0 3.523-.66l.002-.002l.082-.04l.002-.002q.27-.133.52-.288zM40 18.07l-.394 1.393q.162.037.335.037h.114q.174 0 .34-.038zm17.414 5.21l-.08-.044l1.542-2.452l-.025 2.548a1.5 1.5 0 0 1-1.338-.003l-.004-.002l-.09-.046zm11.3 14.287a1.5 1.5 0 0 1-1.189-1.175l2.04-1.803q.052.022.101.046zM12.47 36.39a1.5 1.5 0 0 1-1.184 1.178l-.953-2.934q.048-.024.1-.045zm10.012-13.06a1.5 1.5 0 0 1-1.334.005l-.025-2.55l1.541 2.45l-.084.045l-.004.003l-.09.045z' clip-rule='evenodd'/%3E%3Crect width='48' height='8' x='16' y='59' rx='2'/%3E%3Cpath fill-rule='evenodd' d='M39.998 14h-.064a4 4 0 0 0 .01 8h.107a4 4 0 0 0 .01-8zM23.694 25.518a4 4 0 0 0-3.56-7.164l-.117.058a4 4 0 1 0 3.586 7.151zm36.167-7.164a4 4 0 1 0-3.56 7.164l.091.045a4 4 0 0 0 3.586-7.151zm-44.86 17.643a4 4 0 1 0-8-.04L7 36.034v.079a4 4 0 0 0 8-.04zm57.994-.04a4 4 0 1 0-8 .04v.076a4 4 0 1 0 8 .041v-.158' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}