
.posts-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.post-card {
    background: #ffffff;
    border-radius: 15px;
    padding: 25px;
   
    border: 1px solid #eee;
    
}


.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.views {
    font-size: 0.9rem;
    color: #888;
    background: #f8f7fc;
    padding: 5px 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.btn-more {
    background-color: #9b6dff;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
}

.weui--eyes-on-filled::after {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M1 12c2.028-4.152 6.192-7 11-7s8.972 2.848 11 7c-2.028 4.152-6.192 7-11 7s-8.972-2.848-11-7m11 3.5a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7'/%3E%3C/svg%3E");
}


