.every_user {
    width: 100%;
    height: 100%;
    background: violet;
   border-radius: 15px;
   padding: 10px;

}
.main_block {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
img {
    width: 100px;
    height: 100px;
}