.post-grid {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}

.post-card {
  background: rgb(228, 215, 233);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 15px rgb(228, 186, 235);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}


.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 15px 0;
}

.tag {
  background: rgb(228, 186, 235);
  color: #555;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}


.post-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(228, 186, 235);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 10px;
}

.reactions {
  display: flex;
  gap: 15px;
  color:rgb(0, 0, 0);
}
.likes, .dislikes, .views {
    display: flex;
    flex-direction: column;
}

.status-tag {
  align-self: flex-start;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
button {
    background: rgb(228, 186, 235);
}

.status-tag.active { background: #d4edda; color: #155724; }
.status-tag.inactive { background: #e2e3e5; color: #383d41; }



.icon-park-outline--dislike::after {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='m24 31l-3-5l7-6l-9-5l1-5.8C18.5 8.432 16.8 8 15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23c7-2 20-12 20-23c0-6.075-4.925-11-11-11c-1.8 0-3.5.433-5 1.2'/%3E%3C/svg%3E");
}

.icon-park-outline--like::after {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.99 10.99 0 0 0 15 8'/%3E%3C/svg%3E");
}

.weui--eyes-on-filled::after {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M1 12c2.028-4.152 6.192-7 11-7s8.972 2.848 11 7c-2.028 4.152-6.192 7-11 7s-8.972-2.848-11-7m11 3.5a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7'/%3E%3C/svg%3E");
}

/* //////////////////////////// */

.form-section {
  background: rgb(235, 225, 240);
  padding: 25px;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 0 4px 10px rgba(180, 150, 190, 0.2);
}

.form-section h2 {
  color: #4a4a4a;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.add-post-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.add-post-form input, 
.add-post-form textarea {
  padding: 12px;
  border: 2px solid rgb(228, 186, 235);
  border-radius: 10px;
  background: white;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}



