.all_floot {
   width: 100%;
    height: 100%;
    background: violet;
   border-radius: 15px;
  

}
.main {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 50px;
}

.img-floot {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 10px 0 0;
}
